@font-face {
    font-family: beth-ellen;
    src: url(BethEllen.otf);
  }

@font-face{
    font-family: reem-kufi;
    src:url(ReemKufi-Regular.ttf);
}

table{
    margin-left: 30px;
    font-size: 25px;
}

form{
    margin-left: 30px;
    font-family: reem-kufi;
    font-size: 25px;
    color: white;
}

td{
    font-family : reem-kufi;
    color: white;
    padding-right: 70px;
}

#education td{
    padding-right : 150px;
}

.navigasi{
      position: absolute;
  }
#header{
    width: 100%;
}

#header-img img{
    width: 100%;
    height: auto;
}

.row{
    padding-right: 0px;
    margin-right: 0px;
}

.col-md-8{
    height: 394;
    max-width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}

.col-md-4{
    width: auto;
    max-width: 100%;
    height: 394;
    padding-left: 0px;
    padding-right: 0px;
}

.coklat-muda{
    background-color: #907667;
}

.coklat-kedua{
    background-color: #6F5A53;
}

.coklat-ketiga{
    background-color: #534441;
}

.coklat-keempat{
    background-color: #3D3131;
}

.col-md-8 h1{
    padding-top: 20px;
    padding-left: 30px;
    font-family: beth-ellen;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 80px;
}

.col-md-4 h1{
    padding-top: 20px;
    padding-left: 30px;
    font-family: beth-ellen;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 80px;
}

.col-md-8 p{
    padding-top: 20px;
    padding-left: 30px;
    width: 100%;
    color: white;
    font-family: reem-kufi;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 33px;
}

.col-md-8 p{
    padding-top: 20px;
    padding-left: 30px;
    color: white;
    font-family: reem-kufi;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 33px;
}

#sosmed img{
    width : 40px;
    height: 40px;
}

#sosmed td{
    padding-right: 10px;
    padding-bottom: 50px;
}

#foto-sosmed td{
    padding-right : 40px;
}

#about-me .foto-about img{
    width : 100%;
    max-width: 100%;
    height: auto;
    height : 394px;
    padding-left:0px;
    padding-right: 0px;
}

#achievement ul{
    padding-top : 30px;
    margin-left: 20px;
}

#achievement li{
    font-family: reem-kufi;
    font-size: 27px;
    color: white;
}